:root {
    --firstinterval: 0;
    --secondinterval: 0;
    --thirdinterval: 0;
    --fourthinterval: 0;
    --fifthinterval: 0;
}

* {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    max-width: 99vw;
}

.map > img {
    max-width: 100%;
}

.lines svg {
    position: absolute;
    top: -2%;
    left: 14.5%;
    max-width: 62.76%;
    max-height: 53.15%;
}

@keyframes line1 {
    from {
        stroke-dashOffset: 0
    } to {
        stroke-dashOffset: var(--firstinterval)
    }
}

@keyframes line2 {
    from {
        stroke-dashOffset: 0
    } to {
          stroke-dashOffset: var(--secondinterval)
      }
}

@keyframes line3 {
    from {
        stroke-dashOffset: 0
    } to {
          stroke-dashOffset: var(--thirdinterval)
      }
}

@keyframes line4 {
    from {
        stroke-dashOffset: 0
    } to {
          stroke-dashOffset: var(--fourthinterval)
      }
}

@keyframes line5 {
    from {
        stroke-dashOffset: 0
    } to {
          stroke-dashOffset: var(--fifthinterval)
      }
}

.xdsoft_separator {
    display: none;
}