:root {
    --firstinterval: 0;
    --secondinterval: 0;
    --thirdinterval: 0;
    --fourthinterval: 0;
    --fifthinterval: 0;
}

* {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    max-width: 99vw;
}

.map > img {
    max-width: 100%;
}

.lines svg {
    position: absolute;
    top: -2%;
    left: 14.5%;
    max-width: 62.76%;
    max-height: 53.15%;
}

@keyframes line1 {
    0% {
        stroke-dashOffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashOffset: var(--firstinterval);
        opacity: 1;
    }
    100% {
        stroke-dashOffset: var(--firstinterval);
        opacity: 0;
    }
}

@keyframes line2 {
    0% {
        stroke-dashOffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashOffset: var(--secondinterval);
        opacity: 1;
    }
    100% {
        stroke-dashOffset: var(--secondinterval);
        opacity: 0;
    }
}

@keyframes line3 {
    0% {
        stroke-dashOffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashOffset: var(--thirdinterval);
        opacity: 1;
    }
    100% {
        stroke-dashOffset: var(--thirdinterval);
        opacity: 0;
    }
}

@keyframes line4 {
    0% {
        stroke-dashOffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashOffset: var(--fourthinterval);
        opacity: 1;
    }
    100% {
        stroke-dashOffset: var(--fourthinterval);
        opacity: 0;
    }
}

@keyframes line5 {
    0% {
        stroke-dashOffset: 0;
        opacity: 1;
    }
    75% {
        stroke-dashOffset: var(--fifthinterval);
        opacity: 1;
    }
    100% {
        stroke-dashOffset: var(--fifthinterval);
        opacity: 0;
    }
}

.cd-container {
    padding: 0px;
    overflow: visible;
    margin: 0 auto;
    display: inline-block;
    width: auto;
}

.cd-container > ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cd-container > ul > li {
    margin-left: 2px;
}

.cd_anim {
    height: 37px;
    width: 27px;
    position: relative;
}

.cd_num {
    line-height: 37px;
    height: 37px;
    width: 100%;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-perspective: 22.2em;
    perspective: 22.2em;
    -webkit-transform-origin: 50% 50% 0;
}

.cd_num:before {
    top: 19px;
    border-top: 1px solid #C4C4C4;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    content: "";
    display: block;
    z-index: 20;
}

.cd_num:after {
    top: 18px;
    border-bottom: 1px solid #C4C4C4;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    z-index: 20;
}

.cd_top-num,
.cd_bottom-num {
    height: 50%;
    left: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.cd_top-num {
    transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    top: 0
}

.cd_bottom-num {
    transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    bottom: 0;
}

.cd_part {
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #699DEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cd_top-num .cd_part {
    top: 0;
}

.cd_bottom-num .cd_part {
    bottom: 0;
}

.prev {
    z-index: 3
}

.next {
    animation: asd 100ms 100ms linear both;
    -moz-animation: asd 100ms 100ms linear both;
    -o-animation: asd 100ms 100ms linear both;
    -webkit-animation: asd 100ms 100ms linear both;
    z-index: 2;
}

@keyframes asd {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 80;
    }
    100% {
        z-index: 4;
    }
}
@-moz-keyframes asd {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 80;
    }
    100% {
        z-index: 4;
    }
}
@-o-keyframes asd {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 80;
    }
    100% {
        z-index: 4;
    }
}
@-webkit-keyframes asd {
    0% {
        z-index: 2;
    }
    5% {
        z-index: 80;
    }
    100% {
        z-index: 4;
    }
}

.next .cd_bottom-num {
    z-index: 2;
    animation: turn 100ms 100ms linear both;
    -moz-animation: turn 100ms 100ms linear both;
    -o-animation: turn 100ms 100ms linear both;
    -webkit-animation: turn 100ms 100ms linear both;
}
@keyframes turn {
    0% {
        transform: rotateX(90deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}
@-moz-keyframes turn {
    0% {
        -moz-transform: rotateX(90deg);
    }
    100% {
        -moz-transform: rotateX(0deg);
    }
}@-o-keyframes turn {
     0% {
         -o-transform: rotateX(90deg);
     }
     100% {
         -o-transform: rotateX(0deg);
     }
 }
@-webkit-keyframes turn {
    0% {
        -webkit-transform: rotateX(90deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

.prev .cd_top-num {
    z-index: 2;
    animation: turn2 100ms linear both;
    -moz-animation: turn2 100ms linear both;
    -webkit-animation: turn2 100ms linear both;
    -o-animation: turn2 100ms linear both;
}
@keyframes turn2 {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}
@-moz-keyframes turn2 {
    0% {
        -moz-transform: rotateX(0deg);
    }
    100% {
        -moz-transform: rotateX(-90deg);
    }
}
@-o-keyframes turn2 {
    0% {
        -o-transform: rotateX(0deg);
    }
    100% {
        -o-transform: rotateX(-90deg);
    }
}
@-webkit-keyframes turn2 {
    0% {
        -webkit-transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-90deg);
    }
}

.prev .cd_top-num .cd_shadow {
    animation: show 100ms linear both;
    -moz-animation: show 100ms linear both;
    -webkit-animation: show 100ms linear both;
    -o-animation: show 100ms linear both;
}

.next .cd_top-num .cd_shadow {
    animation: hide 100ms 60ms linear both;
    -moz-animation: hide 100ms 60ms linear both;
    -webkit-animation: hide 100ms 60ms linear both;
    -o-animation: hide 100ms 60ms linear both;
}

.prev .cd_bottom-num .cd_shadow {
    animation: show 100ms linear both;
    -moz-animation: show 100ms linear both;
    -webkit-animation: show 100ms linear both;
    -o-animation: show 100ms linear both;
}

.next .cd_bottom-num .cd_shadow {
    animation: hide 100ms 60ms linear both;
    -moz-animation: hide 100ms 60ms linear both;
    -webkit-animation: hide 100ms 60ms linear both;
    -o-animation: hide 100ms 60ms linear both;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.info {
    position: absolute;
    right: -26px;
    bottom: 55px;
}

.info__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #323338;
}