body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map {
    position: relative;
    max-width: 99vw;
}

.map > img {
    max-width: 100%;
}

.lines svg {
    position: absolute;
    top: -2%;
    left: 14.5%;
    max-width: 62.76%;
    max-height: 53.15%;
}



/*
.line1 { //36
    top: 45.6%;
}

.line2 { //27
    top: 45.6%;
}

.line3 { //42
    left: 45.6%;
}

.line4 { //39
    left: 45.6%;
}

.line5 { //18
    left: 45.6%;
}

.lines_fromLeftToRight svg {
    left: 45.6%;
}

.lines_fromRightToLeft svg {
    right: 54.4%;
}

.lines_fromLeftToRight svg {
    left: 45.6%;
}

.lines_fromLeftToRight svg {
    left: 45.6%;
}
*/